body {
	background: #f5e8ff;
}

h1 {
	text-align: center;
	font-size: 75px;
}

h2 {
	font-size: 38px;
	font-weight: bold;
	text-align: center;
}

p {
	font-size: 27px;
	margin: 15px;
}

img {
	image-orientation: from-image;
}

div{
	margin: 20px 50px;
	padding: 18px;
	background: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.transparent {
	padding: 0px;
	border: 0px;
	background-color: transparent;
	box-shadow: none;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	flex-flow: row wrap;
}

.transparent div {
	flex: 1 1 45%;
	margin: 20px 20px;
}

#introduction {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
}

#introduction figure {
	height: 350px;
	width: 40%;
	display: flex;
	justify-content: space-evenly;
}

#introduction figure img {
	width: 283px;
	height: 100%;
	display: block;
}

#introduction h1 {
	margin: auto;
	vertical-align: middle;
}

#thankyous #pictures {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

#thankyous #pictures figure {
	background: #e2e6ff;
	padding: 5px 15px 10px 15px;
	border-radius: 3px;
	box-shadow: 0 2px 4px #c0bbce;
	margin: 10px 15px;
}

#thankyous #pictures figure #norman {
	width: 454px;
	height: 478px;
}

#thankyous #pictures figure #shep {
	width: 479px;
	height: 478px;
}

#thankyous #pictures figure figcaption {
	font-size: 27px;
}

#postList {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	background: transparent;
	box-shadow: none;
}

#postList div {
	margin: 0px;
	padding: 0px;
}

.ratingContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.rating {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}

.rating .description {
	padding: 0px;
	border: 5px;
	background-color: transparent;
	box-shadow: none;
	align-self: flex-start;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	max-width: 50%;
}

.rating figure {
	margin: 5px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
}

.rating figure img, #postList div .rating figure img, #dogPhotoPreview {
	height: 500px;
	width: 400px;
}

.rating .description .score {
	color: gold;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}

.rating .description .reason {
	font-weight: 27px;
}

#ratingExample {
	width: 100%;
	padding: 0px;
	border: 5px;
	background-color: transparent;
	box-shadow: none;
}

#ratingExample + p {
	color: #565656;
	font-style: italic;
}

#postForm {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-flow: column nowrap;
}

#postForm p label {
	font-size: 1.1em;
}

input[type=text], textarea {
    width: 50%;
    padding: 5px 7px;
	border: 2px solid #ff7070;
	border-radius: 3px;
	background: #f9a9c8;
	color: white;
	font-size: 1em;
}

input [type=radio] {
	color: #f9a9c8;
}

button {
    background-color: #f9a9c8;
    border: none;
    color: white;
    padding: 15px 32px;
	margin: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 3px;
	border: 2px solid #ff7070;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#satForm {
	width: 90%;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

section {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 10px 5%;
}

select {
    min-width: 10%;
	max-width: 20%;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background: #f9a9c8;
	color: white;
}

@media only screen and (max-width: 998px) { /*Tablet View*/
	h1 {
		font-size: 55px;
	}
	
	h2 {
		font-size: 27px;
	}
	
	p {
		font-size: 20px;
	}
	
	#introduction figure {
		height: 300px;
	}

	#introduction figure img {
		width: 243px;
	}
	
	#thankyous #pictures figure figcaption {
		font-size: 22px;
	}
	
	#thankyous #pictures figure #norman {
		width: 285px;
		height: 300px;
	}

	#thankyous #pictures figure #shep {
		width: 301px;
		height: 300px;
	}
	
	.rating figure img, #postList div .rating figure img, #dogPhotoPreview {
		height: 400px;
		width: 320px;
	}
	
	.rating .description {
		align-self: center;
	}
	
	.rating .description, .rating .description .score, .rating .description .reason {
		width: 100%;
		max-width: none;
	}
	
	#satForm {
	flex-flow: column;
	}
	
	input[type=text], textarea {
		width: 60%;
	}
	
}

@media only screen and (max-width: 700px) { /*Where the introduction on the home page can't fit the picture and text*/
	
	#introduction {
		flex-direction: column;
		align-items: center;
	}
	
	.rating figure img, #postList div .rating figure img, #dogPhotoPreview {
		height: 300px;
		width: 240px;
	}
	
	.rating {
		flex-direction: column;
		justify-content: stretch;
	}
	
	input[type=text], textarea {
		width: 70%;
	}
	
}

@media only screen and (max-width: 399px) { /*Mobile Phone*/
	h1 {
		font-size: 40px;
	}
	
	h2 {
		font-size: 20px;
	}
	
	p {
		font-size: 12px;
	}
	
	div, #postList {
		margin: 5px 10px;
	}
	
	.transparent {
		margin: 2px;
	}
	
	#introduction figure {
		height: 247px;
	}

	#introduction figure img {
		width: 200px;
	}
	
	#thankyous #pictures figure figcaption {
		font-size: 22px;
	}
	
	#thankyous #pictures figure #norman {
		width: 200px;
		height: 210px;
	}

	#thankyous #pictures figure #shep {
		width: 200px;
		height: 199px;
	}
	
	.rating figure img, #postList div .rating figure img, #dogPhotoPreview {
		height: 250px;
		width: 200px;
	}
	
	input[type=text], textarea {
		width: 80%;
	}
}